:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --acent1-color: #264653;
    --acent2-color: #e9c46a; 
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--acent1-color);
}

header, main, footer, body {
  width: 840px;
  margin: 0 auto; 
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 5px;
  padding: 8px; 
  
}

.socialmedia a {
  text-decoration: none; 
}

.hero {
  position: relative;

}

.hero img {
  display: block;
  width: 100%;
  height: auto; 
}

h1 {
  position: absolute; 
  top:20px; 
  width: 100%;
  padding: 16px; 
  text-align: center;
  opacity: 0,7;
  background-color: var(--acent1-color); 
  color: #fff;
}
.hero article img {
  float: right; 
  width: 125px; 
}

article  {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 20px;
  gap: 20px;
  max-width: 1000px;
  margin: 5px;
;
}
article  {
  position: absolute;
  top: 150px;
  width: 99%;
  height: 35%;
 
  
}
article img {
  grid-column: 2;
  width: 100%;

}
article p {
  max-width: 500px;
  line-height: 1;
  text-align: justify;
}
header {
  border: 10px  darkcyan;
  background-color: darkturquoise;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 10px;  
  }
ul a {
  text-decoration: none;
  color: blue;
  border: 2px solid gray;
  border-radius: 1px;
  padding: 8px 15px;
  background-color: white;
  transition: 0.3s;
}


.container .text { 
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 1rem;
  grid-gap: 10px;
}
div h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
section {
  max-width: 1000px;
  margin: 5px;
  padding: 1px;
}
.container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  text-align: center;
  background-color: wheat;
  border: 10px;
  flex-direction: row;
  
  }

.container .text {
  flex: 50px;
  text-align: justify;
  align-items: center;
  font-size: 14px;

}

.container .center .p { 
  flex: 200px;
  justify-content: center;
  align-items: flex-end;
  padding: 80px;
  align-self: flex-end;
}
.container h2 {
  display: grid;
  align-self: flex-start;
  font-size: 40px;
  
}
.images-flex {
  display: flex;
  justify-content:center;
  gap: 20px;
  flex-wrap: wrap;
}
.galery-grid {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  background-color: wheat;
  padding: 20px;
}

figure {
  margin: 0;
  padding: 15px;
}

figure img {
  width: 70px;
  height: auto;
  flex-direction: row;
}

 
figcaption {
  margin-top: 5px;
  text-align: center;
  flex-direction: row;
}

footer {
  display: flex;
  background-color: aqua;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}
.titele {
  flex: 1;
  text-align: center;
  margin: 0;
}

.socialmedia {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 10px;
  padding: 10px;
}







