:root {
    --primary-color:#9ad4b7f5;
    --secondary-color:#415c2a;
    --acent1-color: #fcbb2f;
    --acent2-color: #fce59a; 
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
header {

  background-color: var(--primary-color);
  color: var(--acent2-color);
  padding: 1px;

  display: grid;
  grid-auto-flow: column;     
  justify-content: space-around;
  align-items: center; 
}       

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--acent2-color);
}
nav, p, section, article {
    margin: 1px;
    padding: 5px;
}

.hero {
    position: relative;
}
.hero img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: var(--acent1-color) ;
  color: #4d2c01 ;
}
    
.hero article {
  position: absolute;
  top: 280px;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;

  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  background-color: rgb(9, 77, 65); 
  opacity: 0.7;
  color: white;
  padding: 8px;
  gap: 20px;
  font-family: var(--body-font);
}
.hero article img {
  float: right;
  width: 125px;
}
h2 {
  width: 100%;
  padding: 16px;
  text-align: center;
  background-color: var(--acent2-color);
  color: var(--secondary-color);
}
nav {
    background-color: rgb(216, 197, 168);
    padding: .01rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #1660ff;
    border: 2px solid rgb(90, 85, 85);
    border-radius: 1px;
}
div h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
section {
  max-width: 1000px;
  margin: 5px;
  padding: 1px;
}
.container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  text-align: center;
  background-color: var(--acent2-color);
  flex-direction: row;
  padding: 10px;
  
  
  }

.container .text {
  flex: 50px;
  text-align: justify;
  align-items: center;
  font-size: 14px;
  justify-content: flex-end;

  flex-direction: row-reverse;
  padding: 1rem;
  grid-gap: 10px;


  
}

.container .center .p { 
  flex: 200px;
  justify-content: center;
  align-items: flex-end;
  padding: 80px;
  align-self: flex-end;
}
.container h2 {
  display: grid;
  align-self: flex-start;
  font-size: 40px;
  
}

.galery-grid {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  background-color: var(--acent2-color) ;
  padding: 20px;
  }
figure {
  margin: 0;
  padding: 15px;
}


figure img {
  display: flex;
  width: 70px;
  height: auto;
  flex-direction: row;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:350px;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
}


body {
  width: 840px;
  margin: 0 auto;
}


/*contact*/

.contact-info {
  text-align: center;
  margin-top: 20px;
  padding: 0;
}
.contact-info h1 {
  margin: 0 0 10px;
  font-size: 2rem;
  margin-bottom: 1px;

   
  top: 200px;
  width: 100%;
  padding: 20px;
  text-align: center;
  opacity: 0.8;
  background-color: transparent;
  color: #4d2c01;
  position: static;
 
}
.contact-info p {
  margin: 3px 0;
  font-size: 1rem;
  line-height: 1.2;
  position: static;
  
  
 

 
}
.contact-info a {
  color: #1660ff;
  text-decoration: none;
}
 

.map {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.map form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin: 0 auto;
 
}

.map iframe {
  width: 350px;
  height: 620px;
}

form { 
  flex-direction: column;
  padding: 10px;
  width: 400px;
  margin:0 auto;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: rgb(255, 235, 206);
  display: grid;
}
fieldset {
  display: grid;
  grid-gap: 20px;
  margin: 10px;
  border: 1px solid rgb(0 0 0 / 0.2);
  padding: 10px;
}
form label {
  text-align: left;
  padding-right: 2.5rem;
}
.radio {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 15px;
}
.radio-row {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;

}
textarea {
  padding: 0.5rem;
  height: 100px;
  width: 300px;
  resize: none;
}
input, textarea {
  margin-top: 15px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 13px;
}
input[type="text"], input[type="email"] textarea {
  width: 13rem;
}

button {
  margin-top: 15px;
  background-color: lightcoral;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.galery-grid h2 {
  display: grid;
  align-self: center;
  font-size: 35px;
  
}
.images-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

/*vlñlmfgbñl*/

figcaption {
  margin-top: 5px;
  text-align: center;
  flex-direction: row;
}

footer {
  display: flex;
  background-color: rgb(216, 197, 168);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
}
.titele {
  text-align: center;
  margin: 0;
}
.socialmedia  {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 30px;
}
.socialmedia a {
  border: none;
  background: none;
  text-decoration: none;
}

/*Home*/
.hero1 {
  position: relative;
}
.hero1 img {
  display: block;
  width: 100%;
  height: auto;
}
h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 16px;
  text-align: center;
  opacity: 0.8;
  background-color: transparent ;
  color: #ffffff ;
  font-size: 45px;
}
    
.hero1 article {
  position: absolute;
  top: 180px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  height: auto;

  
  
  background-color: rgb(9, 77, 65); 
  opacity: 0.7;
  color: white;
  padding: 60px;
  font-family: var(--heading-font);
  font-size: 20px;
}

.home-container form { 
  flex-direction: column;
  padding: 10px;
  width: 400px;
  margin:0 auto;
  border: 1px solid rgb(0 0 0 / 0.1);
  border-radius: 0.5rem;
  background-color: rgb(227, 255, 227);
  display: grid;
}

.home-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap:350px;
  max-width: 100px;
  margin: 15px auto;
  padding: 10px;
}
.hero1 form {
  padding: 10px;
  width: 150px;
  margin: 0 auto;
  border-radius: 0.5rem;
  background-color: rgb(44, 139, 184);
  font-size: 16px;
  justify-content: space-evenly;
}
.hero1 a {
  text-decoration: none;
  color: rgba(240, 239, 239, 0.808);
}
.images-home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.images-home figure img {
  display: flex;
  width: 300px;
  height: 310px;
  flex-direction: column-reverse;
}
.images-home a {
  text-decoration: none;
  color: white;
}
.images-home form {
  background-color: #16656b;
  font-family: var(--body-font);
}


 
