:root {
    --primary-color:#9ad4b7f5;
    --secondary-color:#415c2a;
    --acent1-color: #fcbb2f;
    --acent2-color: #fce59a; 
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--acent2-color);
    padding: 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, main, footer {
    width: 840px;
    margin: 0 auto;
}
h1, h2 {
    font-family: var(--heading-font);
    color: var(--acent2-color);
}
nav, p, section, article {
    margin: 1px;
    padding: 5px;
}

.hero {
    position: relative;
}
.hero img {
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--acent1-color) ;
    color: #4d2c01 ;
}
    
.hero article {
    position: absolute;
    top: 280px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    height: auto;

    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: rgb(9, 77, 65); 
    opacity: 0.7;
    color: white;
    padding: 8px;
    gap: 20px;
    font-family: var(--heading-font);
}
.hero article img {
    float: right;
    width: 125px;
}
h2 {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--acent2-color);
    color: var(--secondary-color);
}
nav {
    background-color: rgb(216, 197, 168);
    padding: .01rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #1660ff;
    border: 2px solid rgb(90, 85, 85);
    border-radius: 1px;
}
div h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;  
}
section {
  max-width: 1000px;
  margin: 5px;
  padding: 1px;
}
.container { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
  text-align: center;
  background-color: var(--acent2-color);
  flex-direction: row;
  padding: 10px;
  
  
  }

.container .text {
  flex: 50px;
  text-align: justify;
  align-items: center;
  font-size: 14px;
  justify-content: flex-end;

  flex-direction: row-reverse;
  padding: 1rem;
  grid-gap: 10px;


  
}

.container .center .p { 
  flex: 200px;
  justify-content: center;
  align-items: flex-end;
  padding: 80px;
  align-self: flex-end;
}
.container h2 {
  display: grid;
  align-self: flex-start;
  font-size: 40px;
  
}
.images-flex {
  display: flex;
  justify-content:center;
  gap: 20px;
  flex-wrap: wrap;
}
.galery-grid {
  display: flex;
  flex-direction:column;
  align-items: center;
  text-align: center;
  background-color: var(--acent2-color) ;
  padding: 20px;
  }
figure {
  margin: 0;
  padding: 15px;
}


figure img {
  display: flex;
  width: 70px;
  height: auto;
  flex-direction: row;
}

 
figcaption {
  margin-top: 5px;
  text-align: center;
  flex-direction: row;
}

footer {
  display: flex;
  background-color: rgb(216, 197, 168);
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 10px 30px;
}
.titele {
  text-align: center;
  margin: 0;
}
.socialmedia  {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 30px;
}
.socialmedia a {
  border: none;
  background: none;
  text-decoration: none;
}