:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --acent1-color: #264653;
    --acent2-color: #e9c46a; 
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--acent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto; 
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 16px;
  padding: 8px; 
  
}

.socialmedia a {
    text-decoration: none; 
}

.hero {
    position: relative; 
}

.hero img {
  display: block;
  width: 100%;
  height: auto; 
}

h1 {
  position: absolute; 
  top: 20px; 
  width: 100%;
  padding: 16px; 
  text-align: center;
  opacity: 0,7;
  background-color: var(--acent1-color); 
  color: #fff;
}
.hero article img {
   float: right; 
   width: 125px; 

}
header, img,  nav {
  border: 3px clasfied darkcyan;
  background-color: darkturquoise;
  padding: 1rm;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
ul {
  display:grid;
  grid-template-columns: 2fr 4fr 3fr 3fr;
  background-color: seashell;
  grid-gap: 20px;
  padding: 10px;
  text-align: center;
  border: 10px;
  }

article {
display:grid;
grid-template-columns:  120px auto;
grid-gap: 30px;
background-color: yellowgreen;
padding: 25px;
}
section, article { 
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 1rem;
  grid-gap: 10px;
}
h2 {
  display: flex;
  justify-content: center;
  flex-direction:flex-end;
}
.container, section { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  text-align: center;
  background-color: wheat;
}
.container .text {
  flex: 50;
  text-align: center;
}

.container .center { 
  flex: 0 0 200px;
  justify-content: center;
  flex-direction: center;
  font-size: 30px;
}
