:root {
    --primary-color:#055a05;
    --secondary-color:#f4a261;
    --acent1-color: #264653;
    --acent2-color: #e9c46a; 
    --heading-font:"Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  color: var(--acent1-color);
}

header, main, footer {
  width: 840px;
  margin: 0 auto; 
}

h1, h2 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

nav, p, section, article {
  margin: 5px;
  padding: 15px; 
  
}

.socialmedia a {
    text-decoration: none; 
}

.hero {
    position: relative; 
}

.hero img {
  display: block;
  width: 100%;
  height: auto; 
}

h1 {
  position: absolute; 
  top: 20px; 
  width: 100%;
  padding: 16px; 
  text-align: center;
  opacity: 0,7;
  background-color: var(--acent1-color); 
  color: #fff;
}
.hero article img {
   float: right; 
   width: 125px; 

}
header {
  border: 10px  darkcyan;
  background-color: darkturquoise;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  

}
ul {
  display:grid;
  grid-template-columns: 2fr 4fr 3fr 3fr;
  background-color: seashell;
  grid-gap: 30px;
  padding: 10px;
  text-align: center;
  border: 10px;
  }

article {
display:grid;
grid-template-columns:  120px auto;
grid-gap: 10px;
background-color: yellowgreen;
padding: 25px;
}
section, article { 
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  padding: 1rem;
  grid-gap: 10px;
}
div h2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  
}
.container, section { 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  text-align: center;
  background-color: wheat;
  padding: 15px;
}
.container .text {
  flex: 50;
  text-align: center;
  align-items: center;
}

.container .center .p { 
  flex: 200px;
  justify-content: center;
  background-color: 2rem clasified wheat;
  align-items: flex-end;
  padding: 10px;
  align-self: flex-end;
}
.container h2 {
  display: grid;
  align-self: flex-start;
  font-size: 40px;
  
}
.container .text {
  align-items: flex-start;
  font-size: 14px;
}
.galery-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.galery-flex h2 {
  text-align: center;
  font-size: 2rem;
}
.galery-flex {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

figure img {
width: 70px;
height: auto;
flex-direction: row;
}

 
figcaption {
  margin-top: 50px;
  text-align: center;
  flex-direction: row;
}

footer {
  display: flex;
  background-color: aqua;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.socialmedia  {
  display: grid;
  grid-template-columns: 50px 50px 50px;
  grid-gap: 10px;
  padding: 10px;
  
  
}







