* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --font-size-large: 24px;
    --margin-standard: 16px;
}

nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 10px;
}
h1 {
    color: darkblue;
    padding: .5rem;
}
main img {
    width: 150px;
    height: auto;
    border: 1px solid violet;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 2rem;

}

p {
    padding: 34px;
}
aside {
    width: 20em;
    text-align: center;
    position: relative;
}
aside img {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
}
/*class selectors*/
.box {
  margin: 1rem;
  border: 1px solid rgb(0, 0, 0,.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
  
}
aside h2 {
    position: absolute;
    top: 35px;
    left: 95px;

}
header, .grid, footer {
width: 840px;
margin: 0 auto;
}
nav {
  background-color: darkblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff; 
}
.grid {
  display: grid;
  align-items: center;
}
    
main {
  grid-column: 2/3;
  margin: 1rem;
}
    
aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}
